//- Стили валидцации INPUT
//- Если OK = .has-ok добавить к .form-group, или к .input-wrap
//- Если ERROR = .has-error добавить к .form-group(родитель), .error-block добавить в конец .form-group(родитель)
//- ---------------------
//- Стили валидцации SELECT
//- Если OK = .has-ok добавить к .input-wrap
//- Если ERROR = .has-error добавить к .input-wrap(родитель), .error-block добавить в конец .input-wrap(родитель)
mixin basic-select(title, id, options)
    div.select-box
        label(for=id).form-group__label= title
        select(id=id placeholder=placeholder).select__inner
            - for (var i=1; i<=10; i++)
                option=i + ". Пункт"
        .input-wrap
            .select__content

