mixin head(additionalStyles)
	doctype
	html(lang="en")
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		script(src="libs/jquery/dist/jquery.min.js")
		script(src="libs/jquery-ui/jquery-ui.js")
		script(src="libs/nouislider/distribute/nouislider.min.js")
		script(src="libs/wnumb/wNumb.js")
		//script(src="libs/select2/src/js/jquery.select2.js")
		script(src="libs/select2/dist/js/select2.full.min.js")
		script(src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(src="js/bundle.js")

		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		//link(rel="icon" href="/img/png/favicon.png")
		link(rel="stylesheet" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="libs/animate.css/animate.min.css")
		link(rel="stylesheet" href="libs/nouislider/distribute/nouislider.min.css")
		//link(rel="stylesheet" href="libs/jquery-ui/jquery-ui.min.css")
		link(rel="stylesheet" href="css/temp/loan-slider.css")
		link(rel="stylesheet" href="css/temp/main.css")
		link(rel="stylesheet" href="css/temp/helpers.css")
		link(rel="stylesheet" href="css/temp/ui.css")

		if additionalStyles && additionalStyles.length
			each styleUrl in additionalStyles
				link(rel="stylesheet" href=styleUrl.url)

		title Document