mixin loan-types(vars)
  div.loan-types
    div.loan-type.loan-types__item
      input(type="checkbox").loan-type__input
      label(for="").loan-type__label
        img(src="", alt="").loan-type__logo
        p.loan-type__title title

    div.loan-type.loan-types__item
      input(type="checkbox").loan-type__input
      label(for="").loan-type__label
        img(src="", alt="").loan-type__logo
        p.loan-type__title title        
      
    div.loan-type.loan-types__item
      input(type="checkbox").loan-type__input
      label(for="").loan-type__label
        img(src="", alt="").loan-type__logo
        p.loan-type__title title

    div.loan-type.loan-types__item
      input(type="checkbox").loan-type__input
      label(for="").loan-type__label
        img(src="", alt="").loan-type__logo
        p.loan-type__title title

    div.loan-type.loan-types__item
      input(type="checkbox").loan-type__input
      label(for="").loan-type__label
        img(src="", alt="").loan-type__logo
        p.loan-type__title title            