mixin loanVariant(nameLabel, idElem, svgId, ifDisabled)
    .loan-box__variant
        if(ifDisabled)
            input(id=idElem type="checkbox" class="loan-box__input" disabled)
        else
            input(id=idElem type="checkbox" class="loan-box__input")
        label.loan-box__label(for=idElem)
            svg(class='svg-' + svgId  + '-dims loan-box__icon')
                use(xlink:href='#' + svgId + '' class='loan-box__icon-inner' xmlns:xlink='http://www.w3.org/1999/xlink')
            p.loan-box__title= nameLabel