mixin pictures(obj, status, img)
    div(class="pictures-" + status + "")
        each title, name in obj
            div(class="item-" + status + "")
                if(img)
                    div(class="item-" + status + "__img")
                        img(src=name alt='picture' title=title)
                else
                    div(class="item-" + status + "__pic")
                        svg
                            use(xlink:href=name xmlns:xlink="http://www.w3.org/1999/xlink")
                div(class="item-" + status + "__title")= title



