mixin step-indicator(indicatorItems)
    if(indicatorItems == 1)
        - var active1 = "active"
    if(indicatorItems == 2)
        - var active2 = "active"
    if(indicatorItems == 3)
        - var active3 = "active"
    ul.step-indicator
        li.step-indicator__item(class=active1)
            span.step-indicator__position 1
            span.step-indicator__description Личные данные

        li.step-indicator__item(class=active2)
            span.step-indicator__position 2
            span.step-indicator__description Адрес регистрации

        li.step-indicator__item(class=active3)
            span.step-indicator__position 3
            span.step-indicator__description Паспортные данные