.header__main
  display: flex
  align-items: center
  height: 120px
  background-color: #fefeff
  border: solid 1px #d9d9d9

.header__inner
  display: flex
  align-items: center


.header__logo


.header__logo-wrap


.header__logo-img
  width: 100%
  max-width: 150px
  height: auto

.header__menu
  width: 100%

.header__list
  width: 100%
  display: flex
  justify-content: flex-end
  align-items: center

.header__list_sub
  width: 0
  height: 0
  transform: scale(0)
  transform-origin: center top
  transition: all .35s ease


.header__item
  &:not(:first-child)
    margin-left: 65px


.header__item_sub


.header__link
  font-size: 18px
  line-height: 1.33
  text-align: center
  color: #2a2a2a


.header__link_sub

.header__contact-list
  flex-basis: 400px
  display: flex
  align-items: center
  justify-content: flex-end


.header__contact-item
  text-align: right

.header__contact-link
  color: $textColor
  font-size: 18px
  &:hover,&:focus
    text-decoration: none
  &:before
    font-size: 24px
    margin-right: 10px
    vertical-align: middle




