.container.thin
    .breadcrumbs__box
        ul.breadcrumbs__list
            li.breadcrumbs__item
                a.breadcrumbs__link(href="/") Главная
            li.breadcrumbs__item.disabled
                span.breadcrumbs__link Текущая страница