.category__box
    h2.category__title(data-open-text='открыть' data-close-text='закрыть') Категории меню
    ul.category__list
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Охраняемые продукты
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Живые продукты
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Премиксы
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Здоровье копыт
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Заменители молока
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Лизунцы
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Генетика
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Комбикорм
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Вентиляция
        li.category__item
            a.category__link(href="./products.html")
                span.category__link-ico
                span.category__link-text Оборудование
