#switch-lang.switch-lang__box
    .button__box
        .button__inner
            .button__left
                .button__text Сменить язык
            .button__right
                .button__ico
                    span.button__ico-text UA
    ul.switch-lang__list
        li.switch-lang__item
            a.switch-lang__link.focusedOnHover Украинский
        li.switch-lang__item
            a.switch-lang__link.focusedOnHover Русский
