
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-call:before { content: '\e801'; } /* '' */
.icon-play:before { content: '\e802'; } /* '' */
.icon-cancel:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */