extends templates/_page.pug


append vars

append styles


append content
        +bread-crumbs(['Главная','Контакты'])
        .container.thin
            .row.row__contacts
                .col-md-6
                    ul.person__list
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                    .location__info
                        .location__city
                            i.fa.fa-map-marker
                            b ОФИС В Г. ДНЕПР
                        .location__desc
                            div
                                <b>Адрес:</b> 49000, Украина, г. Днепр ул. Глинки 16
                            div
                                <b>Телефон/Факс:</b> +380 (0562) 35-31-55
                        .location__email
                            i.gradient-letter.hidden-xs
                            b E-mail:
                            a(href="#") boss.bizart@gmail.com
                        form.location__form
                            textarea.location__textarea(placeholder="Оставить сообщение")
                            button.location__submit.buttonDark Отправить
                .col-md-6
                    ul.person__list
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                        li.person__item
                            .person__ava
                                img.person__img(src="img/test/contact_01.png" alt="image")
                            .person__desc
                                h2.person__position Директор
                                span.person__name Украинский Сергей Владимирович
                                .person__phone
                                    span.person__ico.fa.fa-phone
                                    span.person__tel тел.
                                    a.person__num(href="tel:+380503041470") +38 (050) 304-14-70
                    .location__info
                        .location__city
                            i.fa.fa-map-marker
                            b ОФИС В Г. ДНЕПР
                        .location__desc
                            div
                                <b>Адрес:</b> 49000, Украина, г. Днепр ул. Глинки 16
                            div
                                <b>Телефон/Факс:</b> +380 (0562) 35-31-55
                        .location__email
                            i.gradient-letter.hidden-xs
                            b E-mail:
                            a(href="#") boss.bizart@gmail.com
                        form.location__form
                            textarea.location__textarea(placeholder="Оставить сообщение")
                            button.location__submit.buttonDark Отправить

