extends templates/_page.pug


append vars
    - bodyClass = "page-index"

append styles

block content
    section.section
        .container
            h1.h1.semi-bold Интернет-маркетинг
            span.h2.thin для малого и среднего бизнеса
            ul.people__list
                li.people__item
                    .people__portrait
                        .people__title
                            span.people__name Лола
                            span.people__social
                        .people__special Фото и контент для соц.сетей
                    .people__img-wrap
                        img.people__img
                    .people__desc
                        p Привет! Всё, что касается контента – это про меня. Я работала в агентстве над такими проектами, как Сушия, 0000000 <br>Вела инстаграм-страницы магазина одежды «FLOW», магазинов косметики Inglot.
                        a.link.link-arrow Подробнее
                li.people__item
                    .people__portrait
                        .people__title
                            span.people__name Денис
                            span.people__social
                        .people__special Реклама в Facebook, Instagram
                    .people__img-wrap
                        img.people__img
                    .people__desc
                        p Привет! Я в маркетинге с 2012го. Сооснователь сети Типичный Днепр, работал в холдингах UMH Фото Group и 1+1 медиа над такими проектами, как Комсомольская Правда в Украине, ovva.tv, 1+1video, Media Hack Weekend 2017 и W:here. Продвигал соцсети турагентств, event-агентств
                        a.link.link-arrow Подробнее
                li.people__item
                    .people__portrait
                        .people__title
                            span.people__name Влад
                            span.people__social
                        .people__special Контекстная реклама в Google и Яндекс
                    .people__img-wrap
                        img.people__img
                    .people__desc
                        p Более 5 лет в сфере интернет рекламы. Сертифицированный партнер Google Adwords. <br>Adwords — хитрый змей, но я покажу как его обуздать и использовать на благо бизнеса.
                        a.link.link-arrow Подробнее

