extends templates/_page.pug


append vars
    - bodyClass = "page-index"

append styles

block content
    section.section.peoples__section
        .container
            .preview-text
                h1.h1.bold Интернет-маркетинг
                h2.h2.thin.mt-5 для малого и среднего бизнеса
        .peoples__box
            .container
                ul.people__list
                    li.people__item.people__item--lola
                        .people__img-wrap
                            img.people__img(src="/img/people/main-Лола.png")
                        .people__additional
                            .people__portrait
                                a.people__title(href="#")
                                    span.people__name Лола
                                    span.people__social.people__social--instagram
                                .people__special Фото и контент для соц.сетей
                            .people__desc
                                p Привет! Всё, что касается контента – это про меня. Я работала в агентстве над такими проектами, как Сушия, 0000000 <br>Вела инстаграм-страницы магазина одежды «FLOW», магазинов косметики Inglot.
                                a.linked.linked-arrow.people__link Подробно
                    li.people__item.people__item--denis
                        .people__img-wrap
                            img.people__img(src="/img/people/main-денис.png")
                        .people__additional
                            .people__portrait
                                a.people__title(href="#")
                                    span.people__name Денис
                                    span.people__social.people__social--facebook
                                .people__special Реклама в Facebook, Instagram
                            .people__desc
                                p Привет! Я в маркетинге с 2012го. Сооснователь сети Типичный Днепр, работал в холдингах UMH Фото Group и 1+1 медиа над такими проектами, как Комсомольская Правда в Украине, ovva.tv, 1+1video, Media Hack Weekend 2017 и W:here. Продвигал соцсети турагентств, event-агентств
                                a.linked.linked-arrow.people__link Подробно
                    li.people__item.people__item--vlad
                        .people__img-wrap
                            img.people__img(src="/img/people/main-Влад.png")
                        .people__additional
                            .people__portrait
                                a.people__title(href="#")
                                    span.people__name Влад
                                    span.people__social.people__social--telegram
                                .people__special Контекстная реклама в Google и Яндекс
                            .people__desc
                                p Более 5 лет в сфере интернет рекламы. Сертифицированный партнер Google Adwords. <br>Adwords — хитрый змей, но я покажу как его обуздать и использовать на благо бизнеса.
                                a.linked.linked-arrow.people__link Подробно


    section.section
        .container.container--limited
            .preview-text.preview-text--limit
                span.h1.thin Любой бизнес &mdash; это люди
                h2.h1.bold.mt-5 Мы ваши люди.
            br
            br
            p.text.text--light.text--center Мы решаем проблему маркетинга для малого и среднего бизнеса. Мы знаем, что держать маркетологов в штате затратно. Обращаться в рекламные агенства – дорого. Вести маркетинг самостоятельно – безрезультатно.
            br
            p.text.text--center Мы фрилансеры со стажем. Успели поработать в крупных компаниях, интернет-магазинах, социальных проектах и сошлись в одну команду, чтобы повышать продажи!