body
  color: #2a2a2a
  font-family: 'Roboto', 'Arial', sans-serif
  overflow-x: hidden

body,html
  background-color: $bgColor

a,a:active,a:visited,button,textarea,select
  outline: none
  cursor: pointer

button,textarea,select
  appearance: none

input, a, img
  outline: none !important

input,textarea
  @include placeholder()
    color: #292929
    font-weight: 300

ul,ol
  margin-bottom: 0

.a-bg
  display: block
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  transition: all .15s linear
  padding-bottom: 60%

.link
  transition: all .25s ease
  &:focus,&:active
    color: $orange
  &:hover
    color: $orange
    text-decoration: none

.linked
  display: inline-block
  letter-spacing: .5px
  font-size: 16px
  transition: all .25s ease
  color: $orange
  user-select: none
  &:hover
    color: $orange_light
    text-decoration: none
  &:active,&:focus
    color: $orange_light
    &:after
      border-color: $orange_light
  &:active
    text-decoration: underline
  &-arrow
    &:after
      display: inline-block
      content: ''
      //background: url('../img/used/link-arrow.svg') center center no-repeat
      border: 2px solid $orange
      border-bottom: none
      border-left: none
      border-bottom-color: transparent
      border-left-color: transparent
      width: 10px
      height: 10px
      transition: all .3s ease
      transform: rotate(45deg)
      vertical-align: middle
  &-grey
    color: #c4c5c0
    &:not(:hover):after
      border-color: #c4c5c0
  &-reset
    color: #fff
    transition: .3s ease
    &:hover
      color: lighten($orange,10%)
@include b(lg)
  .a-bg
    background-size: 100%
    &:hover
      background-size: 110%


.container
  max-width: 1000px
  &--limited
    margin: 0 auto
    max-width: 700px
  &--limited-ultra
    margin: 0 auto
    max-width: 455px

.thin
  font-weight: 300

.semi-bold
  font-weight: 500

.bold
  font-weight: 700

.text
  line-height: 1.33
  color: #2a2a2a
  font-size: 18px
  &--light
    color: #677987
  &--center
    text-align: center

.center
  text-align: center

.underline
  text-decoration: underline

input
  outline: none
input:-webkit-autofill
  -webkit-box-shadow: inset 0 0 0 50px #fff !important
  -webkit-text-fill-color: #fff !important
  color: #fff !important


// typography
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
  color: inherit
  font-family: inherit
  margin-bottom: 5px

h1,.h1
  font-size: 42px

h2,.h2
  font-size: 38px

h3,.h3

h4,.h4

h5,.h5

@include b(xs)
  h1,.h1,
  h2,.h2
    line-height: 1
    margin-bottom: 0
    font-size: 28px

.preview-text
  text-align: center

@include b(xxs)
  .preview-text--limit
    max-width: 213px
    margin: 0 auto

.mt-5
  margin-top: 5px