body
  color: #2a2a2a
  font-family: 'Roboto', 'Arial', sans-serif
  margin-bottom: 200px

body,html
  background-color: $bgColor

a,a:active,a:visited,button,textarea,select
  outline: none
  cursor: pointer

button,textarea,select
  appearance: none

input, a, img
  outline: none !important

input,textarea
  @include placeholder()
    color: #292929
    font-weight: 300

ul,ol
  margin-bottom: 0

.a-bg
  display: block
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  transition: all .15s linear
  padding-bottom: 60%

a.link
  transition: all .25s ease
  &:hover
    color: $orange
    text-decoration: none

a.linked
  display: inline-block
  letter-spacing: .5px
  font-size: 16px
  transition: all .25s ease
  color: $orange
  user-select: none
  &:hover
    color: $orange_light
    text-decoration: none
  &:active
    text-decoration: underline
  &-arrow
    &:after
      display: inline-block
      content: ''
      background: url('../img/used/link-arrow.svg') center center no-repeat
      width: 15px
      height: 22px
      vertical-align: middle

@include b(lg)
  .a-bg
    background-size: 100%
    &:hover
      background-size: 110%


.container
  max-width: 1000px
  &--limited
    max-width: 700px

.thin
  font-weight: 300

.semi-bold
  font-weight: 500

.bold
  font-weight: 700

.text
  line-height: 1.33
  color: #2a2a2a
  font-size: 18px
  &--light
    color: #677987
  &--center
    text-align: center

// typography
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
  color: inherit
  font-family: inherit
  margin-bottom: 5px

h1,.h1
  font-size: 42px

h2,.h2
  font-size: 38px

h3,.h3

h4,.h4

h5,.h5

@include b(xs)
  h1,.h1,
  h2,.h2
    line-height: 1
    margin-bottom: 0
    font-size: 28px

.preview-text
  text-align: center

@include b(xxs)
  .preview-text--limit
    max-width: 213px
    margin: 0 auto

.mt-5
  margin-top: 5px