//include ../mixins/bread-crumbs.pug

block vars
    - bodyClass = ""
    - mainClass = ""

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="theme-color" content="#000")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        meta(name="format-detection" content="telephone=no")
        //link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
        title Peoples
        block styles
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=cyrillic")
            link(rel="stylesheet" href="css/style.css")

    body#top.body__loader(class=bodyClass)
        block header
            header.header__main
                .container
                    .header__inner
                        .header__logo
                            a.link.header__logo-wrap(href="/" title="Люди digital")
                                img.header__logo-img(src="img/logo.png" alt="Люди digital")
                        .header__nav
                            nav.header__menu
                                ul.header__list
                                    li.header__item
                                        a.link.header__link(href="#about") О нас
                                    li.header__item
                                        a.link.header__link(href="#services") Услуги
                                        ul.header__list_sub
                                            li.header__item_sub
                                                a.link.header__link_sub(href="#services") Контекстная реклама
                                            li.header__item_sub
                                                a.link.header__link_sub(href="#services") Таргетинговая реклама
                                    li.header__item
                                        a.link.header__link(href="#hire") Нанять
                                    li.header__item
                                        a.link.header__link(href="#contacts") Контакты
                            ul.header__contact-list
                                li.header__contact-item
                                    a.link.header__contact-link.icon-call(href="tel:+380663492552") +38 (066) 349 25 52
                        #btnMobile.hidden-md.hidden-lg
                            .burger
                                i


        .main-content(class=mainClass)
            block content

            block footer
                a.action__area-back-top.back-top(href="#top")
                footer.footer__box
                    .container
                        .footer__inner
                            .footer__left
                                a.link.footer__email(href="mailto:vlad@gmail.com") vlad@gmail.com
                                ul.footer__social-list
                                    li.footer__social-item
                                        a.footer__social-link.telegram(href="https://t.me/Bezginov")
                                    li.footer__social-item
                                        a.footer__social-link.facebook(href="https://www.facebook.com/volosovd")
                                    li.footer__social-item
                                        a.footer__social-link.instagram(href="https://www.instagram.com/a_wo_takoe")
                            .footer__right
                                p.footer__copyright
                                    span.copyright &copy;
                                    span.year 2018


                block scripts
                    script(src="js/jquery.min.js" type="text/javascript")
                    script(src="js/owl.carousel.js" type="text/javascript")
                    script(src="js/jquery.inputmask.bundle.min.js" type="text/javascript")
                    script(src="js/bundle.js" type="text/javascript")